<div id="page">
  <div id="header">
  	<h1>StickMe</h1>
  	<% unless @logged_user.nil? %>
	  	<ul id="menu_header">
	  		<li class="name"><%= @logged_user.name %></li>
	  		<li><%= link_to "Logout", "user/logout_forever" %></li>
	  	</ul>
  	<% end %>
  	<input type="text" id="textField" size="100" maxlenght="10"/> 
  	<input type="button" id="sendButton" value="Send"/>
  </div>

  <div id="container"></div>

  <div id="footer">
    <a href="#" id="abreLogin" class="pirobox">StickMe</a>
  </div>  
</div>

<div id="freeow" class="freeow freeow-top-right" style="z-index:9999;"></div>

<%= javascript_include_tag '/javascripts/initialization.js' %>

<script>
	$(function() {
		$('#textField').focus();
	});

	<% @my_sticks.each do |stick| %>
		 newBox("<%= stick.id %>",
		 		"<%= stick.content %>",
		 		"<%= l(stick.created_at, :format => :short) %>",
		 		"<%= stick.user.name unless (stick.user.nil? or stick.user == @logged_user)%>"
		 		);
	<%end %>

	<% if @logged_user.nil? %>
		$(function() {
			not_logged = '<%= raw (render "user/not_logged_user").gsub("\n", "") %>';
			initializePiro();
		});
	<% end %>

			
	<% unless flash[:error].nil? %>
		$("#freeow").freeow("Sorry, but", "<%=flash[:error]%>", {
		    classes: ["simple", "error"],
		    autoHide: true,
		});
	<% end %>
	
	<% unless flash[:notice].nil? %>
		$("#freeow").freeow("Hey", "<%=flash[:notice]%>", {
		    classes: ["green", "happy"],
		    autoHide: true,
		});
	<% end %>
</script>